

.itinerary{
    display:flex;
    flex-direction: column;
    padding: 2.5rem 5rem;
}

.itinerary__card-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.itinerary__location{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom:0;
}

.itinerary--iceland{
    background-image: url(../assets/Images/iceland.jpg);
    background-size:cover;
    background-position: center;
}

.itinerary__card{
    display:flex;
    flex-direction: column;
    background-color: white;
    width:20%;
    padding:1rem .5rem;
    margin: 2rem;
    margin-bottom: 5rem;
    border-radius: 10px;
}

.itinerary__day{
text-align: center;
font-weight: bold;
border-bottom: 3.5px solid black;
margin:0;}

.itinerary__list{
    display:Flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    padding:0 .75rem;

}

.itinerary__activity{
    background-color: #FEFAF5;
    margin-top:1rem;
    margin-bottom:1rem;
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
}