*,
**::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* navbar */

.navbar{
    display:flex;
    justify-content: space-between;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


.navbar__list{
    list-style: none;
}

.navbar__link{
    text-decoration: none;
    color: black;
}


.navbar__logo{
    color: #335576;
    font-weight: bold;
    font-size:1.5rem;
    text-decoration: none;
}

.navbar__item{
    display:inline;
    color:black;
    font-size:.9rem;
    padding:.25rem;
}

.navbar__item--active{
    border-bottom: 3px solid #DB7A4E;
}


/* footer */

.footer{
    background-color: #FEFAF5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
}

.footer__contact{
    display:flex;
    flex-direction: column;
}

.footer__hours{
width: 35%;
}

.footer__hours-info{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.footer__hours-info-block{
display: flex;
flex-direction: column;
padding-right: 2rem;
justify-content: center;
}



.footer__title{
    color: #335576;
    font-weight:bold;
    font-size: 1.5rem;
    padding-top:2rem;
    padding-bottom:1rem;
}

.footer__subtitle{
    color:#DB7A4E;
    font-size:0.75rem;
    padding-bottom: .5rem;
}

.footer__text{
    color: #335576;
    font-size:1rem;
}

.footer__social{
    display:flex;
    flex-direction: column;
}

.footer__icon{
    padding:.5rem;
    min-width: .7rem;
    max-height: 1.4rem;
}