*,
**::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
    background-color: #FFFFFF;
}

.navbar__logo{
    color:#335576;
    font-weight: bold;
    font-size:1rem;
}

.navbar__list{
    list-style: none;
}

.navbar__item{
    display:inline;
    color:black;
    font-size:.9rem;
    padding:.25rem;
}

.navbar__item--active{
    border-bottom: 3px solid #DB7A4E;
}

.footer{
    background-color: #FEFAF5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__contact{
    display:flex;
    flex-direction: column;
}

.footer__hours{
    display:flex;
    flex-direction: column;
}

.footer__hours-info{
    display:flex;
    flex-direction:row;
}

.footer__hours-info-block{
    padding: 1.5rem;
}

.footer__title{
    color: #335576;
    font-weight:bold;
    font-size: 1.5rem;
    padding-top:2rem;
    padding-bottom:1rem;
}

.footer__subtitle{
    color:#DB7A4E;
    font-size:0.75rem;
}

.footer__text{
    color: #335576;
    font-size:.75rem;
}

.footer__social{
    display:flex;
    flex-direction: column;
}

.footer__icon{
    width:1rem;
    margin-top:.5rem;
    padding:.5rem;
}